dtds/test_simple.dtd

<!ELEMENT root (a|b|(c,d+))*>
<!ATTLIST root
  rootAttr     CDATA          #IMPLIED
  >

<!ELEMENT a EMPTY>
<!ELEMENT b EMPTY>
<!ELEMENT c EMPTY>
<!ELEMENT d EMPTY>
<!ELEMENT f EMPTY>

<!ATTLIST a
  aAttr     CDATA          #IMPLIED
  bAttr     CDATA          #IMPLIED
  >
<!ATTLIST b
  aAttr     CDATA          #IMPLIED
  bAttr     CDATA          #IMPLIED
  >
