dtds/test_simple.dtd

<!ELEMENT root (a|b|c+)*>
<!ATTLIST root
  rootAttr     CDATA          #IMPLIED
  >

<!ELEMENT a EMPTY>
<!ELEMENT b EMPTY>
<!ELEMENT c EMPTY>

<!ATTLIST a
  aAttr     CDATA          #IMPLIED
  bAttr     CDATA          #IMPLIED
  >
<!ATTLIST b
  aAttr     CDATA          #IMPLIED
  bAttr     CDATA          #IMPLIED
  >
