dtds/test_simple.dtd

<!ELEMENT root (y*,z)*>


<!ELEMENT a EMPTY>
<!ELEMENT b EMPTY>


<!ELEMENT x EMPTY>
<!ELEMENT y EMPTY>
<!ELEMENT z EMPTY>



<!ATTLIST root
  rootAttr     CDATA          #IMPLIED
  >
<!ATTLIST a
  aAttr     CDATA          #IMPLIED
  bAttr     CDATA          #IMPLIED
  >
<!ATTLIST b
  aAttr     CDATA          #IMPLIED
  bAttr     CDATA          #IMPLIED
  >
